/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */


html, body {
  background-color: #2A4151
}

.navbar, .links, .sidebar {
  background-color: #2A4151 !important
}
.sidebar{
  padding-left:0%;
}


.home .hero img
  max-width 450px!important
